.analytic-container {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container {
    font-family: Arial, sans-serif;
    margin: 0;
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5777e7;
    color: white;
    padding: 10px 20px;
}

#button-container h2 {
    margin: 0;
}

#button-container > div {
    display: flex;
}

#button-container p {
    font-size: large;
    margin: 0 10px;
    cursor: pointer;
}

#button-container p:hover {
    text-decoration: underline;
}

#info-container {
    max-width: 100%;
    max-height: 100%;
    background-image: url('landing-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
