<DOCTYPE!>
<html>
    <head>
        <title>Data Analytic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="CSS/main.css") }}">
    </head>
    <body class='container'>
        <div class="analytic-container">
            <div id="button-container">
                <h2>Data Analytic</h2>
                <div>
                    <p>Products</p>
                    <p>Analytic</p>
                    <p>More</p>
                </div>
                <div>
                    <p>Sign in</p>
                    <p>Get Started</p>
                </div>    
            </div>
            <h2>Unlock Powerful Insights with Data Analytics</h2>
            <p>Our website analytics platform empowers you to gain valuable insights into your website's performance, user behavior, and more. Whether you're a business owner, marketer, or website developer, our intuitive tools and comprehensive analytics dashboards provide the data you need to make informed decisions and optimize your online presence.</p>
            <ul>
                <li>Track website traffic and visitor demographics</li>
                <li>Monitor user engagement and behavior patterns</li>
                <li>Identify popular content and areas for improvement</li>
                <li>Generate custom reports and actionable recommendations</li>
            </ul>
        </div>
    </body>
</html>