<DOCTYPE!>
<html>
    <head>
        <title>Data Analytic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="CSS/main.css") }}"
    </head>
    <body>
        <div class="analytic-container">
            <div id="button-container">
                <h2>Data Analytic</h2>
                <p>Products</p>
                <p>Analytic</p>
                <p>More</p>
                <p>Sign in</p>
                <p>Get Started</p>    
            </div>
        </div>
    </body>
</html>